<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thesis.dao.mapper.DeviceMapper">

    <cache eviction="FIFO" flushInterval="3600000" size="10000" readOnly="true"/>
    <resultMap id="BaseResultMap" type="com.thesis.common.model.Device">
        <id column="id" jdbcType="SMALLINT" property="id"/>
        <result column="device_id" jdbcType="VARCHAR" property="deviceId"/>
        <result column="equipment_type" jdbcType="TINYINT" property="equipmentType"/>
        <result column="equipment_state" jdbcType="TINYINT" property="equipmentState"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <resultMap id="deviceVo" type="com.thesis.common.model.vo.DeviceVo">
        <id column="id" jdbcType="SMALLINT" property="id"/>
        <result column="device_id" jdbcType="VARCHAR" property="deviceId"/>
        <result column="equipment_name" jdbcType="VARCHAR" property="name"/>
        <result column="running_param" jdbcType="VARCHAR" property="runningParam"/>
        <result column="equipment_state" property="status"
                typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
    </resultMap>
    <sql id="Base_Column_List">
    id,device_id, equipment_type, equipment_state, create_time, update_time
  </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from device
        where id = #{id,jdbcType=SMALLINT}
    </select>
    <select id="getAllInfo" resultMap="deviceVo">
      select a.id,device_Id,equipment_name ,running_param ,equipment_state from device as a  join device_type as b
      on a.equipment_type =b.id
    </select>
    <select id="getDeviceByType" resultType="java.lang.Integer">
        select  count(*) from device where equipment_type = #{id}
    </select>
    <select id="getRunParamByDeviceId" resultType="java.lang.String">
        select running_param  from device as a  join device_type as b on a.equipment_type =b.id
        where device_id = #{deviceId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from device
    where id = #{id,jdbcType=SMALLINT} and equipment_state != 1
  </delete>
    <insert id="insert" parameterType="com.thesis.common.model.Device">
    insert into device (id,device_id equipment_type, equipment_state,
      create_time, update_time)
    values (#{id,jdbcType=SMALLINT},#{deviceId,jdbcType=VARCHAR} #{equipmentType,jdbcType=TINYINT}, #{equipmentState,jdbcType=TINYINT},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.thesis.common.model.Device">
        insert into device
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="deviceId != null">
                device_id,
            </if>
            <if test="equipmentType != null">
                equipment_type,
            </if>
            <if test="equipmentState != null">
                equipment_state,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=SMALLINT},
            </if>
            <if test="deviceId != null">
                #{deviceId,jdbcType=VARCHAR},
            </if>
            <if test="equipmentType != null">
                #{equipmentType,jdbcType=TINYINT},
            </if>
            <if test="equipmentState != null">
                #{equipmentState,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.thesis.common.model.Device">
        update device
        <set>
            <if test="deviceId != null">
                device_id = #{deviceId,jdbcType=VARCHAR},
            </if>
            <if test="equipmentType != null">
                equipment_type = #{equipmentType,jdbcType=TINYINT},
            </if>
            <if test="equipmentState != null">
                equipment_state = #{equipmentState,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=SMALLINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.thesis.common.model.Device">
    update device
    set device_id = #{deviceId,jdbcType=VARCHAR},
      equipment_type = #{equipmentType,jdbcType=TINYINT},
      equipment_state = #{equipmentState,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=SMALLINT}
  </update>
    <update id="updateStatus">
        update device set equipment_state = #{status} where device_id=#{deviceId};
    </update>
    <select id="getDeviceTypeById" resultType="byte">
        select equipment_type  from device where device_id = #{deviceId};
    </select>
</mapper>