<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thesis.dao.mapper.EquipmentMapper">
    <resultMap id="BaseResultMap" type="com.thesis.common.model.Equipment">
        <id column="id" jdbcType="SMALLINT" property="id"/>
        <result column="equipment_type" jdbcType="TINYINT" property="equipmentType"/>
        <result column="equipment_state" jdbcType="TINYINT" property="equipmentState"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, equipment_type, equipment_state, create_time, update_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from equipment
        where id = #{id,jdbcType=SMALLINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from equipment
    where id = #{id,jdbcType=SMALLINT}
  </delete>
    <insert id="insert" parameterType="com.thesis.common.model.Equipment">
    insert into equipment (id, equipment_type, equipment_state, 
      create_time, update_time)
    values (#{id,jdbcType=SMALLINT}, #{equipmentType,jdbcType=TINYINT}, #{equipmentState,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.thesis.common.model.Equipment">
        insert into equipment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="equipmentType != null">
                equipment_type,
            </if>
            <if test="equipmentState != null">
                equipment_state,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=SMALLINT},
            </if>
            <if test="equipmentType != null">
                #{equipmentType,jdbcType=TINYINT},
            </if>
            <if test="equipmentState != null">
                #{equipmentState,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.thesis.common.model.Equipment">
        update equipment
        <set>
            <if test="equipmentType != null">
                equipment_type = #{equipmentType,jdbcType=TINYINT},
            </if>
            <if test="equipmentState != null">
                equipment_state = #{equipmentState,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=SMALLINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.thesis.common.model.Equipment">
    update equipment
    set equipment_type = #{equipmentType,jdbcType=TINYINT},
      equipment_state = #{equipmentState,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=SMALLINT}
  </update>
</mapper>