<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thesis.dao.mapper.PermissionMapper">
    <resultMap id="BaseResultMap" type="com.thesis.common.model.Permission">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="per_name" jdbcType="VARCHAR" property="perName"/>
        <result column="per_url" jdbcType="VARCHAR" property="perUrl"/>
        <result column="per_desc" jdbcType="VARCHAR" property="perDesc"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, per_name, per_url, per_desc
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from permission
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from permission
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.thesis.common.model.Permission">
    insert into permission (id, per_name, per_url, 
      per_desc)
    values (#{id,jdbcType=INTEGER}, #{perName,jdbcType=VARCHAR}, #{perUrl,jdbcType=VARCHAR}, 
      #{perDesc,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.thesis.common.model.Permission">
        insert into permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="perName != null">
                per_name,
            </if>
            <if test="perUrl != null">
                per_url,
            </if>
            <if test="perDesc != null">
                per_desc,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="perName != null">
                #{perName,jdbcType=VARCHAR},
            </if>
            <if test="perUrl != null">
                #{perUrl,jdbcType=VARCHAR},
            </if>
            <if test="perDesc != null">
                #{perDesc,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.thesis.common.model.Permission">
        update permission
        <set>
            <if test="perName != null">
                per_name = #{perName,jdbcType=VARCHAR},
            </if>
            <if test="perUrl != null">
                per_url = #{perUrl,jdbcType=VARCHAR},
            </if>
            <if test="perDesc != null">
                per_desc = #{perDesc,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.thesis.common.model.Permission">
    update permission
    set per_name = #{perName,jdbcType=VARCHAR},
      per_url = #{perUrl,jdbcType=VARCHAR},
      per_desc = #{perDesc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>