<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thesis.dao.mapper.UserRoleMapper">
    <resultMap id="BaseResultMap" type="com.thesis.common.model.UserRole">
        <id column="id" jdbcType="TINYINT" property="id"/>
        <result column="user_id" jdbcType="SMALLINT" property="userId"/>
        <result column="role_id" jdbcType="TINYINT" property="roleId"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_id, role_id
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Byte" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_role
        where id = #{id,jdbcType=TINYINT}
    </select>
    <select id="selectByUserId" resultType="java.lang.Byte">
      select role_id from user_role where user_id =#{userId}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Byte">
    delete from user_role
    where id = #{id,jdbcType=TINYINT}
  </delete>
    <insert id="insert" parameterType="com.thesis.common.model.UserRole">
    insert into user_role (id, user_id, role_id
      )
    values (#{id,jdbcType=TINYINT}, #{userId,jdbcType=SMALLINT}, #{roleId,jdbcType=TINYINT}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.thesis.common.model.UserRole">
        insert into user_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=TINYINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=SMALLINT},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.thesis.common.model.UserRole">
        update user_role
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=SMALLINT},
            </if>
            <if test="roleId != null">
                role_id = #{roleId,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=TINYINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.thesis.common.model.UserRole">
    update user_role
    set user_id = #{userId,jdbcType=SMALLINT},
      role_id = #{roleId,jdbcType=TINYINT}
    where id = #{id,jdbcType=TINYINT}
  </update>
    <insert id="batchInsert">
        insert into user_role (user_id, role_id) values
        <foreach collection="user.roleIds" item="item" separator=",">
            ( #{user.userId,jdbcType=SMALLINT}, #{item,jdbcType=TINYINT})
        </foreach>
    </insert>
    <delete id="deleteByUserId">
        delete  from user_role where user_id =#{userId}
    </delete>
    <delete id="deleteByRoleId">
        delete  from user_role where role_id =#{roleId}
    </delete>


</mapper>