<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>未处理请求</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../../layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_tnyc012u2rlwstt9.css" media="all"/>
    <link rel="stylesheet" href="../../css/user.css" media="all"/>
</head>
<body class="childrenBody">
<script type="text/javascript">
    function doclick(data) {
        layer.confirm('处理该请求？', {icon: 3, title: '提示信息'}, function (index) {
                $.ajax({
                    url: "/doctor?token=" + data,
                    type: "GET",
                    success: function (result) {
                        if (result.code == 200) {
                            window.location.href = "/views/doctor/handler.html?token=" + data;
                            return false;
                        } else {
                            layer.alert("该请求已经被其他人处理了");
                        }
                    },
                    error: function () {
                        layer.alert("该请求已经被其他人处理了");
                    }
                })
                layer.close(index);
            }
        );
    }
</script>
<div class="layui-form users_list">
    <table class="layui-table">
        <thead>
        <tr>
            <th>请求</th>
        </tr>
        </thead>
        <tbody class="users_content"></tbody>
    </table>
</div>
<div id="page"></div>
<script type="text/javascript" src="../../layui/layui.js"></script>
<script type="text/javascript" src="../../js/lib/jquery.js"></script>
<script type="text/javascript" src="unHandleRequest.js"></script>
</body>
</html>